html {
    display: flex;
    justify-content: center;
}

body {
    display: flex;
    flex-direction: column;
    justify-items: space-between;
    margin: 0;
    padding: 0 5px;
    max-width: 800px;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: rgb(10, 31, 63);
    padding: 20px 50px 50px 50px;
    color: white;
}

.nav {
    display: flex;
    justify-content: flex-end;
    padding: 0px;
    margin: 0;
    gap: 15px;
    font-size: 12px;
}

.logo {
   flex-grow: 1;
}

.welcome {
    display: flex;
    padding: 30px 0;
    gap: 15px;

}

.info {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.info button{

    align-self: flex-start;
}

.header img {
    width: 300px;
    height: 200px;
    flex: 1 0 auto;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec1 {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.gallery {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.sec1 .galleryitem {
    display: flex;
    flex-direction: column;
}

.galleryitem img {
    background-color: rgb(43, 128, 226);
    min-width: 100px;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.sec2 {
    background-color: rgb(240, 233, 233);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 20px 100px;
}

.sec2 .quote {
    align-self: flex-start;
    font-style: italic;
    font-size: 18px;
    padding: 50px;
}

.sec2 .signature {
    align-self: flex-end;
    padding-right: 30px;
    font-weight: 800;

}

.sec3 {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: rgb(147, 147, 212);
    padding: 20px 50px;
    margin: 50px 100px;
    border-radius: 20px;



}

.sec3 .text {
    display: flex;
    flex-direction: column;
    max-height: fit-content;
    max-width: fit-content;
    gap: 10px;
}

h5,
h6 ,h1{
    margin: 0%;
}

.footer {
    background-color: rgb(141, 137, 137);
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;


}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

button {
    background-color: blue;
    border-color: blue;
    border-radius: 15px;
    flex-shrink: 0;
    width: 80px;
    height: 30px;
    color: bisque;
}